@model Ultimates_Cricket.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Game</h4>
        <hr />
        <h5>
            Create a game to record scores for players. Scores can be entered
            in the details view after creating a game.
        </h5>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="GameNumber" class="col-md-2 control-label">Game Number</label>
            <div class="col-md-10">
                <input asp-for="GameNumber" class="form-control" />
                <span asp-validation-for="GameNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
