@model Ultimates_Cricket.Models.Stat

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>New Player Statistics</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PlayerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PlayerId"></select>
            </div>
        </div>
        @if (ViewBag.GameId is int)
        {
            <input type="hidden" name="GameId" value="@ViewBag.GameId" />
        }
        else
        {
            <div class="form-group">
                <label asp-for="GameId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                </div>
            </div>
        }

        <div class="form-group">
            <label asp-for="Batting" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Batting" class="form-control" />
                <span asp-validation-for="Batting" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bowling" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bowling" class="form-control" />
                <span asp-validation-for="Bowling" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @if (ViewBag.GameId is int)
    {
        <a asp-controller="Games" asp-action="Details" asp-route-id="@ViewBag.GameId">Back to Game Details</a>
    }
    else
    {
        <a asp-controller="Games" asp-action="Index">Back to Game List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
