@{
    ViewData["Title"] = "Home";
}

</div> <!-- Container -->
<div class="jumbotron">
    @*<div class="container">
        <h1>Ultimates</h1>
        <p class="lead">Let's be winners together!</p>
    </div>*@
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="front-image" src="~/images/front-1.png" />
            <h2>WARM UP</h2>
            <p>
                Fitshop brings you some amazing yoga tips.
            </p>
            <p><a class="btn btn-default" href="#">Read More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img class="front-image" src="~/images/front-2.png" />
            <h2>SUBS / TEE SHIRTS </h2>
            <p>
                Cash Money Chains - Pay per game of per season – your choice.
            </p>
            <p><a class="btn btn-default" href="#">Read More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img class="front-image" src="~/images/front-3.png" />
            <h2>TACTICS / STRATEGY</h2>
            <p>
                Did you know Chuck Norris can <strong>win</strong> a game of Connect Four in only three moves? 
            </p>
            <p><a class="btn btn-default" href="#">Read More &raquo;</a></p>
        </div>
    </div>